.welcome {
  width: 100%;
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  .omid {
    color: #5aa9e6;
    display: inline-flex;
    .o {
      animation: deform infinite;
      animation-duration: 4s;
      transform: scaleY(1);
      transform-origin: 0 32px;

      @keyframes deform {
        0%,
        23%,
        32%,
        100% {
          transform: scaleY(1);
        }
        26% {
          transform: scaleY(0.5);
        }
      }
    }
    .i {
      width: 7px;
      height: 31px;
      display: inline-flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      transform-origin: bottom;
      animation: fire 4s infinite;

      @keyframes fire {
        0%,
        26%,
        31%,
        100% {
          transform: scaleY(1);
        }

        28%,
        30% {
          transform: scaleY(0.5);
        }
      }

      .rect {
        width: 5px;
        height: 20px;
        background-color: #5aa9e6;
        display: inline-block;
        border-radius: 34%/9% 0 1px 0;
      }
      .dot {
        width: 5px;
        height: 6px;
        background-color: #5aa9e6;
        display: inline-block;
        border-radius: 50% 35%;
        margin-top: 2px;
        animation: jumpping 4s infinite;
        animation-timing-function: linear;
        @keyframes jumpping {
          0%,
          3%,
          100% {
            transform: translate(0, 0);
          }

          8% {
            transform: translate(-2px, -7px);
          }
          11% {
            transform: translate(-4px, -8px);
          }
          15% {
            transform: translate(-7px, -6px);
          }
          18% {
            transform: translate(-15px, -17px);
          }
          20% {
            transform: translate(-19px, -17px);
          }
          23% {
            transform: translate(-29px, -6px);
          }
          25% {
            transform: translate(-30px, 2px) scale(1);
          }
          27% {
            transform: translate(-30px, 2px) scale(0);
          }
          28% {
            transform: translate(0, 5px) scale(0);
          }
          30%,
          34%,
          38% {
            transform: translate(0, 0) scale(1);
          }
          32%,
          36% {
            transform: translate(0, -5px) scale(1);
          }
          100% {
            transform: translate(0, 0) scale(1);
          }
        }
      }
    }
  }
}
